body{
   margin: 0; 
}
img{
    transform: translateX(10%) rotateZ(20deg) scaleX(0.8);
}
.box{
    width: 250px;
    height: 250px;
    border: 2px solid;
    font-size: 14em;
    text-align: center;
    /* transform: skew,scale,rotate,translate; */
    transform: translateX(100px) rotateZ(45deg) scale(0.5);
}
#box1{
    background-color: aquamarine;
}
#box2{
    background-color: bisque;
}
#box3{
    background-color: blueviolet;
}