h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: rgb(181, 192, 33);
}

p::selection{
    color: white;
    background-color: rgb(160, 77, 77);
}

/* #fruit li::before{
    content: "✅";
} */
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}
#grapes::after{
    content: "🍇";
}
#fruit li::marker{
    content: "✅";
    color: cyan ;
    font-size: 1.1em;
}