#container{
    border: 2px solid;
}

#container p{
    background-color: blue;
}

/* #container > p{
    background-color: blue;
}

#container ~ p{
    background-color: blue;
}

#container + p{
    background-color: blue;
} */
