<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h2>Header</h2>
    </header>
    <nav class="navbar"></nav>
    <main>
        <aside>
            <h2>This is aside</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad exercitationem ipsam ex qui laudantium libero laborum dolorem, et dicta optio saepe sint deserunt quisquam assumenda, maiores nam quaerat, unde rerum!</p>
        </aside>
        <section>
            <h2>This is section</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam laborum totam corporis et quae necessitatibus quas ut, tenetur expedita ipsa molestias non temporibus neque dignissimos recusandae. Inventore voluptatum suscipit facilis!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi voluptatibus similique consequuntur accusamus! Laborum asperiores ipsa dicta sequi voluptatibus deserunt doloribus vel debitis qui. Deserunt dolor nemo corporis possimus ducimus.</p>
        </section>
        <article>
            <h2>This is article</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam laborum totam corporis et quae necessitatibus quas ut, tenetur expedita ipsa molestias non temporibus neque dignissimos recusandae. Inventore voluptatum suscipit facilis!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi voluptatibus similique consequuntur accusamus! Laborum asperiores ipsa dicta sequi voluptatibus deserunt doloribus vel debitis qui. Deserunt dolor nemo corporis possimus ducimus.</p>
        </article>
    </main>
    <footer>
        <h2>Footer</h2>
    </footer>
</body>
</html>